@media screen {

	.col-md-6{
        background-color: pink;
    }

    .col-md-4{
        margin-top: 50px;
    }

    h1{
        float: right;
    }
    h2{
        margin-top: 50px;
    }
    h5{
        float: right;
    }
    img,a,p{
        display: block;
    }
}
